header{
    background-color: royalblue;
    text-align: center;
    font-family: 'Lucida Console';
}

body{
    width: 96%;
    margin: 0 auto;
}

nav{
    text-align: right;
}

h1{
    margin-top: 10px;
    justify-content: center;
}
main{
    height: 500px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
h3{
    background-color: royalblue;
    font-family: Tahoma;
    text-align: center;
}

table, tr, td, th{
    border:  solid 0.5px;
    width: 1200px;
    padding: 0px;
    font-size: 20px;
    border-collapse: collapse;
    text-align: center;
}

th {
    background-color: lightblue;
    font-family: Tahoma;
}

h2{
    text-align: center;
    font-family: Lucida;
}

p{
    font-size: 500px;
    font-family: Tahoma;
    
}

td{
    font-family: 'Centaur';
}
